@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Poppins:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: system-ui, sans-serif;
  scroll-behavior: smooth;
  background-color: #f6f6f6;
}

@layer base {
  h1, h2, h3, h4 {
    font-family: 'Poppins', sans-serif;
  }

  h1 {
    @apply text-3xl font-bold text-slate-100 md:text-6xl;
  }

  h2 {
    @apply text-2xl font-bold text-slate-100 md:text-5xl;
  }

  h3 {
    @apply text-xl font-bold text-slate-100 md:text-4xl;
  }

  p,
  a {
    @apply text-slate-300 text-base md:text-xl;
    font-family: 'Montserrat', sans-serif;
  }

  a {
    font-weight: 600;
  }
}

